[submodule "Library/assimp"]
	path = Library/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Library/tinyobjloader"]
	path = Library/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
